<!DOCTYPE html>
<html>

<head>
<title>Employee List</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="opera.css">	
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
<script src="app.js"></script>
<script src="controller.js"></script>
</head>

<body ng-app="Modulo" ng-controller="MainController">

	<div ng-init="GetAll()">
		<h1 style="text-align: center;">EMPLOYEE LIST </h1>
		<table border="2"  style="margin-left: auto; margin-right: auto;">
			<th>ID</th>
			<th>FirstName</th>
			<th>LastName</th>
<!-- 			<th>Email</th> -->
			<th>Actions</th>
			<tr ng-repeat="employee in employees">
			<td ng-bind="employee.id"></td>
			<td ng-bind="employee.firstName"></td>
			<td ng-bind="employee.lastName"></td>
<!-- 			<td ng-bind="employee.email"></td> -->
			<td align="center">
					<a href="#" ng-href="http://localhost:8080/frontEnd/info-employee.html?myId={{employee.id}}">
						<i class="fa-solid fa-magnifying-glass"></i></a>
					<a href="#" ng-href="http://localhost:8080/frontEnd/edit-employee.html?myId={{employee.id}}">
						<i class="fa-solid fa-user-pen"></i></a>
					<a href="#" ng-click="deleteEmployee(employee.id)"><i class="fa-solid fa-trash"></i></a>
<!-- 					<a href="#" ng-href="http://localhost:8080/frontEnd/details.html?myId={{employee.id}}">Details</a> -->
			</td>
			</tr>
		</table>
		<br>
		<div style="text-align: center ;margin-left: auto; margin-right: auto;">
		<h7>Create a New Employee</h7>
		<button class="btn btn-primary"
				onclick="location.href='http://localhost:8080/frontEnd/create-employee.html';">
				<i class="fa-solid fa-user-plus"></i>
				</button>
		</div>
	</div>

</body>

</html>